version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "@types/node"
        versions:
          - ">=23.0.0"
      - dependency-name: "mongoose"
        versions:
          - ">=10.0.0"
    groups:
      api:
        patterns:
          - "*"
  - package-ecosystem: "npm"
    directory: "react-ui"
    schedule:
      interval: "daily"
    groups:
      frontend:
        patterns:
          - "*"